<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <title>Speeding Test Page</title>
    <script src="/js/home/counter.js" defer></script>
</head>

<body class="text-center">
    <!-- <header> -->

        <!-- div로 item이 나누어짐 -->
    <div class="wrapper">
        <div class="bigName">
            <h3>정보</h3>
        </div>
        <div class="infoLeft">
            이미지
        </div>
            <!-- // 받아와서 서 읽기 home.ctrl.js 파일 체크 -->
        <div class="infoRight">
            <h5 class="h5_style">이    름 : <%=applicant[0].name_mbr%></h5>
            <h5 class="h5_style">생년월일 : <%=applicant[0].birth_mbr%></h5>
            <h5 class="h5_style">수검번호 : <%=applicant[0].num_mbr%></h5>
            <h5 class="h5_style">응시종목 : <%=applicant[0].subject_mbr%></h5>
        </div>

        <!-- <div class="infoNotice">
            <h5>Notice</h5>
        </div> -->
        <!-- <div class="infoRunning">
            <button id="process_btn" onclick=cntStart(this.value) value="ready">시작</button>
            진행시간: <span id=cnt_min>05:00</span>

            <div class="infoNotice">
                <h5>시작시 멈출 수 없습니다.</h5>
            </div>
            <h8>시작시 멈출 수 없습니다.</h8>
        </div> -->
        <!-- <div class="testSend">
            <button>전송</button>
        </div> -->
        <div class="fontSetting" id=font_style>
            <span><h8>글자크기:</h8></span>
            <button id="font_size_plus">10pt</button>
            <!-- <button id="font_size_reset">11pt</button> -->
            <button id="font_size_minus">12pt</button>
            <button id="font_bold" value="unbold">진하게</button>
        <div>
            <button id="process_btn" onclick=cntStart(this.value) value="ready">시작</button>
            진행시간: <span id=cnt_min>05:00</span>
        </div>
            <button id="send_answer" disabled>전송</button><span> 시작시 멈출 수 없습니다.</span>
        </div>
        

        <div class="leftFrame" id="left_frame">
            <textarea class="form-control" name="" id="view_Box" cols="30" rows="10" placeholder="Read only"
                readonly></textarea>
            <!-- <label for="viewBox"></label> -->
        </div>
        
        <!-- swap btn -->
        <div class="swapFrame">
            <button id="swapBtn" onclick="swap_box(this.value)" value = 1>↔</button>
        </div>

        <div class="rightFrame" id="right_frame">
            <textarea class="form-control" name="" id="input_Box" cols="30" rows="10" placeholder="Input only"
                readonly></textarea>
            <!-- <label for="inputBox"></label> -->
        </div>


        

    </div>

</body>

</html>